<div class="row">
  <div class="col-xs-offset-0">
    <button id="add-button" type="button" class="btn btn-primary" routerLink="/hour-price-add">{{'addHourPrices' | translate:translationService.counter}}</button>
  </div>
</div>
<br><br>

<form [formGroup]="hourPriceListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="workCode">{{'workCode' | translate:translationService.counter}}</label>
        <select type="text" id="workCode" formControlName="workCode" class="form-control">
          <option></option>
          <option>PS</option>
          <option>PX</option>
          <option>PP</option>
          <option>PN</option>
          <option>PZ</option>
          <option>PR</option>
        </select>
      </div>
    </div>

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="machineNumber">{{'machineId' | translate:translationService.counter}}</label>
        <input type="text" id="machineNumber" formControlName="machineNumber" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="priceType">{{'priceType' | translate:translationService.counter}}</label>
        <select type="text" id="priceType" formControlName="priceType" class="form-control">
          <option></option>
          <option value="ONLY_MACHINE">{{'machine' | translate:translationService.counter}}</option>
          <option value="WITH_OPERATOR">{{'machineWithOperator' | translate:translationService.counter}}</option>
          <option value="WITH_FUEL">{{'machineWithFuel' | translate:translationService.counter}}</option>
          <option value="WITH_OPERATOR_AND_FUEL">{{'machineWithOperatorAndFuel' | translate:translationService.counter}}</option>
          <option value="OTHER">{{'other' | translate:translationService.counter}}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">{{'search' | translate:translationService.counter}}</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-2">{{'workCode' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'machineId' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'priceType' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'price' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'startDate' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'endDate' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'projectCode' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'modificationDate' | translate:translationService.counter}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let price of prices | async; let i = index">
    <td>{{price.workCode}}</td>
    <td>{{price.machine.internalId}}</td>
    <td>{{price.priceType}}</td>
    <td>{{price.price}}</td>
    <td>{{price.startDate}}</td>
    <td>{{price.endDate}}</td>
    <td>{{price.projectCode}}</td>
    <td>{{price.modificationDate}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onEditPrice(price)">{{'edit' | translate:translationService.counter}}</button>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="onDeletePrice(price.id, i)">{{'delete' | translate:translationService.counter}}</button>
    </td>
  </tr>
  </tbody>
</table>
