<form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label for="mpk">Seller MPK / NIP</label>
        <input type="text" id="mpk" formControlName="mpk" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" formControlName="city" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label for="street">Street</label>
        <input type="text" id="street" formControlName="street" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label for="buildingNumber">Building number</label>
        <input type="text" id="buildingNumber" formControlName="buildingNumber" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label for="postalCode">Postal code</label>
        <input type="text" id="postalCode" formControlName="postalCode" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success" [disabled]="!sellerForm.valid" >{{isOnEdit ? 'Update' : 'Create'}}</button>
    </div>
  </div>

  <div id="message" [ngStyle]="messageStyler.styleMessage(userMessage)">{{userMessage}}</div>

</form>
