<div id="add-button" class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/cost-code-add">{{'addCostCode' | translate:translationService.counter}}</button>
  </div>
</div>

<br><br>

<form [formGroup]="costCodeListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="projectCode">{{'projectCode' | translate:translationService.counter}}</label>
        <input type="text" id="projectCode" formControlName="projectCode" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="costType">{{'costType' | translate:translationService.counter}}</label>
        <input type="text" id="costType" formControlName="costType" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">{{'search' | translate:translationService.counter}}</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-2">{{'projectCode' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'costType' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'fullCode' | translate:translationService.counter}}</th>
    <th class="col-md-3">{{'projectCodeDescription' | translate:translationService.counter}}</th>
    <th class="col-md-3">{{'costTypeDescription' | translate:translationService.counter}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let costCode of costCodes | async">
    <td>{{costCode.projectCode}}</td>
    <td>{{costCode.costType}}</td>
    <td>{{costCode.fullCode}}</td>
    <td>{{costCode.projectCodeDescription}}</td>
    <td>{{costCode.costTypeDescription}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onEditCostCode(costCode)">{{'edit' | translate:translationService.counter}}</button>
    </td>
  </tr>
  </tbody>
</table>
