form, table {
  margin: 0 auto;
  width: 95%;
}

.centeredButton {
  margin: auto;
}

.detailsColumn {
  width: 3vh;
  max-width: 3vh;
}

.estimateSection {
  width: 5vh;
}

.equipmentSection {
  background-color: khaki;
  width: 5vh;
}

.transportSection {
  background-color: beige;
  width: 5vh;

}

.materialSection {
  background-color: bisque;
  width: 5vh;
}
