form, table {
  margin: 0 auto;
  width: 95%;
}

.centeredButton {
  margin: auto;
  text-align: center;
  font-size: 8px;
}

.detailsButton {
  background: cyan;
  cursor: pointer;
  /*border-radius: 10px;*/
  border-color: cyan;
  width: 2vh;
  height: 2vh;
}

.detailsColumn {
  width: 3vh;
  max-width: 3vh;
}

.verticalBorder {
  border-right: medium solid;
}


.estimateSection {
  width: 5vh;
}

.equipmentSection {
  /*background-color: khaki;*/
  width: 5vh;
}

.transportSection {
  /*background-color: beige;*/
  width: 5vh;
}

.materialSection {
  /*background-color: bisque;*/
  width: 5vh;
}

.labourSection {
  /*background-color: bisque;*/
  width: 5vh;
}
