<form [formGroup]="estimatePositionAddForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <div>{{'fileToUpload' | translate:translationService.counter}}</div>
        <br>
        <input type="file" (change)="onFileChange($event)">
      </div>
    </div>


  </div>


  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success" [disabled]="!isFile">{{'upload' | translate:translationService.counter}}</button>
    </div>
  </div>

</form>

<div id="message" [ngStyle]="messageStyler.stylePriceMessage(isError)">{{userMessage}}</div>
