<form [formGroup]="machineTypeForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="machineType">{{'machineType' | translate:translationService.counter}}</label>
        <input type="text" id="machineType" formControlName="machineType" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="costCategory">{{'costCategory' | translate:translationService.counter}}</label>
        <select type="text" id="costCategory" formControlName="costCategory" class="form-control">
          <option value="EQUIPMENT">{{'EQUIPMENT' | translate:translationService.counter}}</option>
          <option value="TRANSPORT">{{'TRANSPORT' | translate:translationService.counter}}</option>
        </select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-10 col-md-2 text-center">
      <button type="submit" class="btn btn-success" [disabled]="!machineTypeForm.valid">{{isOnEdit ? ('update' | translate:translationService.counter) : ('create' | translate:translationService.counter)}}</button>
    </div>
  </div>

  <div id="message" [ngStyle]="messageStyler.styleMessage(userMessage)">{{userMessage}}</div>


</form>
