<div id="add-button" class="row">
  <div class="col-xs-offset-1">
    <button type="button" class="btn btn-primary" routerLink="/machine-type-add">Add new machine type</button>
  </div>
</div>
<br><br>

<div id="searchField" class="col-xs-offset-1">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="machineType">Machine type</label>
        <input type="text" id="machineType" class="form-control" [(ngModel)]="filteredType">
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="col-xs-offset-1">

  <table class="table">
    <thead>
    <tr>
      <th class="col-md-3">Machine type</th>
      <th class="col-md-3">Cost category</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let machineType of machineTypes | async | filterMachineTypes:filteredType:'machineType'">
      <td>{{machineType.machineType}}</td>
      <td>{{machineType.costCategory}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="onEditMachineType(machineType)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

