table {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
}

form {
  margin-left: 4%;
  margin-right: 5%;
}

#add-button {
  margin-left: 4%;
}

button {
  margin-left: 2px;
  margin-right: 2px;
}
