
<div id="add-button" class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/machine-add">{{'addNewMachine' | translate:translationService.counter}}</button>
  </div>
</div>

<br><br>

<form [formGroup]="machineListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-10 col-md-1">
      <div class="form-group">
        <label for="internalId">{{'machineId' | translate:translationService.counter}}</label>
        <input type="text" id="internalId" formControlName="internalId" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="name">{{'name' | translate:translationService.counter}}</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-1">
      <div class="form-group">
        <label for="model">{{'model' | translate:translationService.counter}}</label>
        <input type="text" id="model" formControlName="model" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-1">
      <div class="form-group">
        <label for="machineType">{{'type' | translate:translationService.counter}}</label>
        <select type="text" id="machineType" formControlName="machineType" class="form-control">
          <option value=""></option>
          <option *ngFor="let machineType of machineTypes | async">{{machineType.machineType}}</option>
        </select>
      </div>
    </div>



    <div class="col-xs-10 col-md-1">
      <div class="form-group">
        <label for="producer">{{'producer' | translate:translationService.counter}}</label>
        <input type="text" id="producer" formControlName="producer" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-1">
      <div class="form-group">
        <label for="owner">{{'owner' | translate:translationService.counter}}</label>
        <select type="text" id="owner" formControlName="owner" class="form-control">
          <option></option>
          <option *ngFor="let owner of owners | async">{{owner.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-xs-10 col-md-1">
      <div class="form-group">
        <label for="productionYear">{{'productionYear' | translate:translationService.counter}}</label>
        <input type="text" id="productionYear" formControlName="productionYear" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-1">
      <div class="form-group">
        <label for="status">{{'status' | translate:translationService.counter}}</label>
        <select type="text" id="status" formControlName="machineStatus" class="form-control">
          <option>In use</option>
          <option>Out of use</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">{{'search' | translate:translationService.counter}}</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-1">{{'machineId' | translate:translationService.counter}}</th>
    <th class="col-md-2">{{'name' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'model' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'type' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'producer' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'owner' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'productionYear' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'status' | translate:translationService.counter}}</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let machine of machines | async; let i = index">
    <td>{{machine.internalId}}</td>
    <td>{{machine.name}}</td>
    <td>{{machine.model}}</td>
    <td>{{machine.machineType.machineType}}</td>
    <td>{{machine.producer}}</td>
    <td>{{machine.owner.name}}</td>
    <td>{{machine.productionYear}}</td>
    <td>{{machine.machineStatus}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onEditMachine(machine)">{{'edit' | translate:translationService.counter}}</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteMachine(machine.id, i)">{{'delete' | translate:translationService.counter}}</button>
    </td>
  </tr>
  </tbody>
</table>
