<form [formGroup]="estimatePositionEditForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="name">{{'name' | translate:translationService.counter}}</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="projectCode">{{'projectCode' | translate:translationService.counter}}</label>
        <select type="text" id="projectCode" formControlName="projectCode" class="form-control" (ngModelChange)="onSelectProjectCode($event)">
          <option *ngFor="let projectCode of projectCodes" [ngValue]="projectCode">{{projectCode}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="costType">{{'costType' | translate:translationService.counter}}</label>
        <select type="text" id="costType" formControlName="costType" class="form-control">
          <option></option>
          <option *ngFor="let costType of costTypes" [ngValue]="costType">{{costType}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="quantity">{{'quantity' | translate:translationService.counter}}</label>
        <input type="number" min="0" id="quantity" formControlName="quantity" class="form-control" (ngModelChange)="onQuantityChange()">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="measureUnit">{{'measureUnit' | translate:translationService.counter}}</label>
        <select type="text" id="measureUnit" formControlName="measureUnit" class="form-control">
          <option>-</option>
          <option>h</option>
          <option>mb</option>
          <option>m2</option>
          <option>m3</option>
          <option>Mg</option>
          <option>szt</option>
          <option>kpl</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="estimateSellPrice">{{'sellPrice' | translate:translationService.counter}}</label>
        <input type="number" id="estimateSellPrice" formControlName="estimateSellPrice" class="form-control" (ngModelChange)="onSellPriceChange()">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="estimateSellValue">{{'sellValue' | translate:translationService.counter}}</label>
        <input type="number" id="estimateSellValue" formControlName="estimateSellValue" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="remarks">{{'remarks' | translate:translationService.counter}}</label>
        <input type="text" id="remarks" formControlName="remarks" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="estimateCostPrice">{{'costPrice' | translate:translationService.counter}}</label>
        <input type="number" id="estimateCostPrice" formControlName="estimateCostPrice" class="form-control" (ngModelChange)="onCostPriceChange()">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="estimateCostValue">{{'costValue' | translate:translationService.counter}}</label>
        <input type="number" id="estimateCostValue" formControlName="estimateCostValue" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2 text-center">
      <button type="submit" class="btn btn-success" [disabled]="!estimatePositionEditForm.valid">{{'update' | translate:translationService.counter}}</button>
    </div>
  </div>

</form>

<div id="message" [ngStyle]="messageStyler.stylePriceMessage(isError)">{{userMessage}}</div>
