<div class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/distance-price-add">Upload distance price list</button>
  </div>
</div>
<br><br>

<form [formGroup]="distancePriceListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-1">
      <div class="form-group">
        <label for="workCode">Work code</label>
        <select type="text" id="workCode" formControlName="workCode" class="form-control">
          <option></option>
          <option>CP</option>
          <option>PP</option>
          <option>PN</option>
          <option>PZ</option>
        </select>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group">
        <label for="machineNumber">Machine number</label>
        <input type="text" id="machineNumber" formControlName="machineNumber" class="form-control">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group">
        <label for="priceType">Price type</label>
        <select type="text" id="priceType" formControlName="priceType" class="form-control">
          <option></option>
          <option value="DISTANCE">Distance</option>
          <option value="OTHER">Other</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-1">Work code</th>
    <th class="col-md-2">Machine number</th>
    <th class="col-md-2">Price type</th>
    <th class="col-md-1">Price</th>
    <th class="col-md-1">Range min</th>
    <th class="col-md-1">Range max</th>
    <th class="col-md-2">Start date</th>
    <th class="col-md-2">End date</th>
    <th class="col-md-2">Project code</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let price of prices | async; let i = index">
    <td>{{price.workCode}}</td>
    <td>{{price.machineInternalId}}</td>
    <td>{{price.priceType}}</td>
    <td>{{price.price}}</td>
    <td>{{price.rangeMin}}</td>
    <td>{{price.rangeMax}}</td>
    <td>{{price.startDate}}</td>
    <td>{{price.endDate}}</td>
    <td>{{price.projectCode}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onEditPrice(price)">Edit</button>
      <!--<button type="button" class="btn btn-danger" (click)="onDeletePrice(price.id, i)">Delete</button>-->
    </td>
  </tr>
  </tbody>
</table>

<div id="message" [ngStyle]="messageStyler.stylePriceMessage(isError)">{{userMessage}}</div>

