<div id="add-button" class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/estimate-position-add">{{'addEstimatePositions' | translate:translationService.counter}}</button>
  </div>
</div>

<br><br>

<form [formGroup]="estimatePositionListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="name">{{'name' | translate:translationService.counter}}</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
    </div>

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="projectCode">{{'projectCode' | translate:translationService.counter}}</label>
        <select type="text" id="projectCode" formControlName="projectCode" class="form-control" (ngModelChange)="onSelectProjectCode($event)">
          <option></option>
          <option *ngFor="let projectCode of projectCodes">{{projectCode}}</option>
        </select>
      </div>
    </div>

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="costType">{{'costType' | translate:translationService.counter}}</label>
        <select type="text" id="costType" formControlName="costType" class="form-control">
          <option></option>
          <option *ngFor="let costType of costTypes">{{costType}}</option>
        </select>
      </div>
    </div>

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="remarks">{{'remarks' | translate:translationService.counter}}</label>
        <input type="text" id="remarks" formControlName="remarks" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">{{'search' | translate:translationService.counter}}</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-2">{{'name' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'projectCode' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'costType' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'quantity' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'measureUnit' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'sellPrice' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'sellValue' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'remarks' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'costPrice' | translate:translationService.counter}}</th>
    <th class="col-md-1">{{'costValue' | translate:translationService.counter}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let estimatePosition of estimatePositions | async">
    <td>{{estimatePosition.name}}</td>
    <td>{{estimatePosition.costCode.projectCode}}</td>
    <td>{{estimatePosition.costCode.costType}}</td>
    <td>{{estimatePosition.quantity}}</td>
    <td>{{estimatePosition.measureUnit}}</td>
    <td>{{estimatePosition.sellPrice}}</td>
    <td>{{estimatePosition.sellValue}}</td>
    <td>{{estimatePosition.remarks}}</td>
    <td>{{estimatePosition.costPrice}}</td>
    <td>{{estimatePosition.costValue}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onEditEstimatePosition(estimatePosition)">{{'edit' | translate:translationService.counter}}</button>
    </td>
  </tr>
  </tbody>
</table>
