<form [formGroup]="costCodeForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-xs-10 col-md-3">
      <div class="form-group">
        <label for="projectCode">{{'projectCode' | translate:translationService.counter}}</label>
        <input type="text" id="projectCode" formControlName="projectCode" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-3">
      <div class="form-group">
        <label for="costType">{{'costType' | translate:translationService.counter}}</label>
        <input type="text" id="costType" formControlName="costType" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-3">
      <div class="form-group">
        <label for="projectCodeDescription">{{'projectCodeDescription' | translate:translationService.counter}}</label>
        <input type="text" id="projectCodeDescription" formControlName="projectCodeDescription" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-3">
      <div class="form-group">
        <label for="costTypeDescription">{{'costTypeDescription' | translate:translationService.counter}}</label>
        <input type="text" id="costTypeDescription" formControlName="costTypeDescription" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-3 text-center">
      <button type="submit" class="btn btn-success" [disabled]="!costCodeForm.valid" >{{isOnEdit ? ('update' | translate:translationService.counter) : ('create' | translate:translationService.counter)}}</button>
    </div>
  </div>

  <div id="message" [ngStyle]="messageStyler.styleMessage(userMessage)">{{userMessage}}</div>

</form>
