form {
  margin-left: 10%;
}

#message {
  margin-left: 10%;
  margin-top: 5%;
}

input.ng-touched, select.ng-touched {
  background-color: aqua;
}

#newPrice {
  padding-left: 10%;
}

.prices {
  display: flex;
  /*justify-content: space-between;*/
}

#addNewPriceButton {
  margin-left: 2%;
}


