form {
  margin-left: 5%;
}

#message {
  margin-top: 1%;
  font-size: large;
  text-align: center;
  padding: 5px 5px 5px 5px;
  max-width: 90%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

