<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="mpk">{{'contractorMpk' | translate:translationService.counter}}</label>
        <input type="text" id="mpk" formControlName="mpk" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="name">{{'name' | translate:translationService.counter}}</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="city">{{'city' | translate:translationService.counter}}</label>
        <input type="text" id="city" formControlName="city" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="street">{{'street' | translate:translationService.counter}}</label>
        <input type="text" id="street" formControlName="street" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="buildingNumber">{{'buildingNumber' | translate:translationService.counter}}</label>
        <input type="text" id="buildingNumber" formControlName="buildingNumber" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="postalCode">{{'postalCode' | translate:translationService.counter}}</label>
        <input type="text" id="postalCode" formControlName="postalCode" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="email">{{'email' | translate:translationService.counter}}</label>
        <input type="email" id="email" formControlName="email" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="contactPerson">{{'contactPerson' | translate:translationService.counter}}</label>
        <input type="text" id="contactPerson" formControlName="contactPerson" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="phoneNumber">{{'phoneNumber' | translate:translationService.counter}}</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-10 col-md-2 text-center">
      <button type="submit" class="btn btn-success" [disabled]="!clientForm.valid" >{{isOnEdit ? ('update' | translate:translationService.counter) : ('create' | translate:translationService.counter)}}</button>
    </div>
  </div>

  <div id="message" [ngStyle]="messageStyler.styleMessage(userMessage)">{{userMessage}}</div>

</form>
