<div class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/price-add">Upload price list</button>
  </div>
</div>
<br><br>

<form [formGroup]="priceListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-2">
      <div class="form-group">
        <label for="year">Year</label>
        <input type="number" id="year" formControlName="year" class="form-control">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group">
        <label for="machineNumber">Machine number</label>
        <input type="text" id="machineNumber" formControlName="machineNumber" class="form-control">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group">
        <label for="priceType">Type</label>
        <select type="text" id="priceType" formControlName="priceType" class="form-control">
          <option value=""></option>
          <option *ngFor="let priceType of priceTypes">{{priceType}}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-2">Year</th>
    <th class="col-md-2">Machine number</th>
    <th class="col-md-2">Price type</th>
    <th class="col-md-2">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let price of prices | async; let i = index">
    <td>{{price.year}}</td>
    <td>{{price.machine.internalId}}</td>
    <td>{{price.priceType}}</td>
    <td>{{price.price}}</td>

    <td>
      <button type="button" class="btn btn-primary" (click)="onEditPrice(price)">Edit</button>
      <button type="button" class="btn btn-danger" (click)="onDeletePrice(price.id, i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<div id="message" [ngStyle]="messageStyler.stylePriceMessage(isError)">{{userMessage}}</div>

