table, #message {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
}

form {
  margin-left: 5%;
}
button {
  margin-left: 5%;
}

form > div :nth-child(2), form > div :nth-child(3), label {
  margin-left: 5%;
}

form :nth-child(2) {
  margin-left: -0.4%;
}
