<div id="add-button" class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/seller-add">Add new seller</button>
  </div>
</div>

<br><br>

<form [formGroup]="sellerListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-2">
      <div class="form-group">
        <label for="mpk">Seller MPK / NIP</label>
        <input type="text" id="mpk" formControlName="mpk" class="form-control">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" formControlName="city" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-4">Seller MPK / NIP</th>
    <th class="col-md-4">Name</th>
    <th class="col-md-4">City</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let seller of sellers | async">
    <td>{{seller.mpk}}</td>
    <td>{{seller.name}}</td>
    <td>{{seller.city}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onEditClient(seller)">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
