<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a routerLinkActive="active" routerLink="/home"
         class="active">{{'menu' | translate:translationService.counter}}</a>
    </div>

    <div class="navbar-brand pull-right">
      <div>
        <a routerLinkActive="active" routerLink="/login"
           *ngIf="!currentUser">{{'login' | translate:translationService.counter}}</a>
      </div>
      <div>
        <a routerLinkActive="active" routerLink="/login" *ngIf="currentUser"
           (click)="onLogout()">{{'logout' | translate:translationService.counter}}</a>
      </div>
    </div>

    <div id="language" class="navbar-brand pull-right">
      <select class="form-control" [(ngModel)]="translationService.currentLanguage"
              (ngModelChange)="translationService.updateCounter()">
        <option *ngFor="let language of translationService.languages" [ngValue]="language">{{language}}</option>
      </select>
    </div>

  </div>


</nav>
