<div id="add-button" class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/material-add">{{'addNewMaterial' | translate:translationService.counter}}</button>
  </div>
</div>

<br><br>

<form [formGroup]="materialListForm" (ngSubmit)="onSearch()">

  <div class="row">

    <div class="col-xs-10 col-md-2">
      <div class="form-group">
        <label for="type">{{'materialType' | translate:translationService.counter}}</label>
        <input type="text" id="type" formControlName="type" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">{{'search' | translate:translationService.counter}}</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-3">{{'materialType' | translate:translationService.counter}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let material of materials | async">
    <td>{{material.type}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onEditMaterial(material)">{{'edit' | translate:translationService.counter}}</button>
    </td>
  </tr>
  </tbody>
</table>
