<div id="add-button" class="row">
  <div class="col-xs-offset-0">
    <button type="button" class="btn btn-primary" routerLink="/user-add">Add new user</button>
  </div>
</div>

<br><br>

<form [formGroup]="userListForm" (ngSubmit)="onSearch()">

  <div class="row">
    <div class="col-xs-1">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </div>

</form>

<br><br>

<table class="table">
  <thead>
  <tr>
    <th class="col-md-2">Username</th>
    <th class="col-md-2">User role</th>
    <th class="col-md-2">E-mail address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let userDto of userDtos | async; let i = index">
    <td>{{userDto.username}}</td>
    <td>{{userDto.userRole}}</td>
    <td>{{userDto.email}}</td>
    <td>
      <button id="editButton" type="button" class="btn btn-primary" (click)="onEditUser(userDto)">Edit</button>
      <!--<button mat-button type="button" class="btn btn-danger" (click)="onDeleteOrder(order.id, i)">Delete</button>-->
    </td>
  </tr>
  </tbody>
</table>
