<div class="container-fluid login-message form-group">

  <div class="row">
    <div class="col-md-12" *ngIf="currentUser">
      <h4>Logged as: {{currentUser.username}}</h4>
    </div>

    <div class="col-md-12" *ngIf="!currentUser">
      <h4>Please log in.</h4>
    </div>
  </div>

</div>


<div class="container" *ngIf="currentUser">

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/machines">{{'machines' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/machine-type-list">{{'machineTypes' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/clients">Contractors</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/operators">Operators</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/materials">Materials</button>
    </div>

  </div>

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/estimate-positions">Estimate positions
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/cost-codes">Cost codes</button>
    </div>

  </div>

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/hourPrices">Hour prices</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/distancePrices">Distance prices</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/deliveryPrices">Delivery prices</button>
    </div>

  </div>

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/work-documents">Work documents</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/delivery-documents">Delivery documents
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/daily-reports">Daily reports</button>
    </div>

  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/excel-reports">Excel reports</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/cost-report">Cost report</button>
    </div>

  </div>

  <div class="row form-group" *ngIf="isAdmin">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block" routerLink="/users">Users</button>
    </div>


  </div>

</div>
