<div class="container-fluid login-message form-group">

  <div>
    <img src="assets/images/logo_dekpol.png" class="img-fluid" alt="Company logo">
    <p id="title">EarthWorksApp</p>
  </div>

  <div class="row">
    <div class="col-md-12" *ngIf="currentUser">
      <h4>{{'loggedAs' | translate:translationService.counter}} {{currentUser.username}}</h4>
    </div>

    <div class="col-md-12" *ngIf="!currentUser">
      <h4>{{'pleaseLogin' | translate:translationService.counter}}</h4>
    </div>
  </div>

</div>


<div class="container" *ngIf="currentUser">

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/machines">{{'machines' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/machine-type-list">{{'machineTypes' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/clients">{{'contractors' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/operators">{{'operators' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/materials">{{'materials' | translate:translationService.counter}}</button>
    </div>

  </div>

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/estimate-positions">{{'estimatePositions' | translate:translationService.counter}}
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/cost-codes">{{'costCodes' | translate:translationService.counter}}</button>
    </div>

  </div>

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/hourPrices">{{'hourPrices' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/distancePrices">{{'distancePrices' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/deliveryPrices">{{'deliveryPrices' | translate:translationService.counter}}</button>
    </div>

  </div>

  <div class="row form-group">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/work-documents">{{'workDocuments' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/delivery-documents">{{'deliveryDocuments' | translate:translationService.counter}}
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/daily-reports">{{'dailyReports' | translate:translationService.counter}}</button>
    </div>

  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/excel-reports">{{'excelReports' | translate:translationService.counter}}</button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/cost-report">{{'costReports' | translate:translationService.counter}}</button>
    </div>

  </div>

  <div class="row form-group" *ngIf="isAdmin">

    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-block"
              routerLink="/users">{{'users' | translate:translationService.counter}}</button>
    </div>

  </div>

</div>
